{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home Page Playground{% endblock %}</title>

  <!-- Load CSS from static files -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button"
              data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}" onclick="changePage('twitter')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us' %}" onclick="changePage('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'map' %}" onclick="changePage('gallery')">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'map' %}" onclick="changePage('map')">Map</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'map' %}" onclick="changePage('login')" class="btn btn-danger btn-round">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  function changePage(page) {
    history.pushState({}, '', '/' + page);
    document.title = page.charAt(0).toUpperCase() + page.slice(1); // Optional: Update page title
  }
</script>



  <!-- Main Content -->
  <div class="wrapper">
    {% block content %}
    <!-- Content will be injected here -->
    {% endblock %}
  </div>


    <footer>
    
      <p>&copy; Kibera Connect. All rights reserved. <a href="#">Privacy Policy </a></p>
      <P>@kibereconnect@gmail.com</P>
    </footer>
</div>


  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script>
    function changePage(page) {
      history.pushState({}, '', page);
      document.title = page.charAt(0).toUpperCase() + page.slice(1); // Update page title (optional)
    }
  </script>
  

</body>
</html>
